* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.logToUpload {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  color: #6082a3;
}

.app__posts {
  margin: 30px;
  width: auto;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px;
  margin: 5px;
}
